<header>
  <div class="d-flex flex-row flex-wrap justify-content-around">
    <div>
      <a class="applogo" href="/">
        <img src="assets/images/app_logo.jpg" class="img-fluid">
      </a>
    </div>
    <div class="d-flex flex-row sign-in-partial">
      <div>
        <img src="assets/images/def_avatar.jpg" class="mt-1">
      </div>
      <div class="dropdown pt-2 ml-1">
        <!-- if logged in
                <a class="nav-link btn dropdown-toggle" data-toggle="dropdown" [routerLink]="['./user/login']"  i18n="@@signIn">Sign in</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" i18n="@@userSubMenu1"">Link 1</a>
                  <a class="dropdown-item" href="#" i18n="@@userSubMenu2"">Link 2</a>
                  <a class="dropdown-item" href="#" i18n="@@userSubMenu3"">Link 3</a>
              </div>
            -->
        <a class="nav-link btn" [routerLink]="['./user/login']"
          i18n="Sign In | user sign in button on the top navbar@@signIn">Sign
          in</a>
      </div>
    </div>
    <div class="language-bar">
      <ul>
        <li><a href="#" [ngClass]="{selected: selectedLanguage === 'en'}" (click)="changeLang('en')"><span>En</span></a>
          | </li>
        <li><a href="#" [ngClass]="{selected: selectedLanguage === 'fr'}" (click)="changeLang('fr')"><span>Fr</span></a>
          | </li>
        <li><a href="#" [ngClass]="{selected: selectedLanguage === 'es'}"
            (click)="changeLang('es')"><span>Esp</span></a></li>
      </ul>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-around p-2 m-2">
    <div>
      <nav class="navbar top-nav navbar-expand-lg navbar-light">
        <ul class="navbar-nav d-flex flex-row flex-wrap justify-content-center">
          <li class="nav-item p-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['./home']"
              i18n="Home | first menu in the main menu@@mainMenuHome">Home</a>
          </li>
          <li class="nav-item p-3">
            <a class="nav-link" [routerLink]="['./task']"
              i18n="Task | third menu in the main menu @@mainMenuTask">Task</a>
          </li>
          <li class="nav-item p-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['./dashboard']"
              i18n="Dashboard | second menu in the main menu@@mainMenuDashboard">Dashboard</a>
          </li>
          <li class="nav-item p-3" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['./entities']">About</a>
          </li>
          <li class="nav-item p-3">
            <a class="nav-link" [routerLink]="['./stakeholders']">Privacy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>
