<div class="responsive-header five">
    <div class="responsive-menubar">
        <div class="res-logo">
            <a href="index.html" title=""><img src="http://placehold.it/178x40" alt="" /></a>
        </div>
        <div class="menu-resaction">
            <div class="res-openmenu">
                <img src="assets/images/icon.png" alt="" /> Menu
            </div>
            <div class="res-closemenu">
                <img src="assets/images/icon2.png" alt="" /> Close
            </div>
        </div>
    </div>
    <div class="responsive-opensec">
        <div class="btn-extars">
            <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
            <ul class="account-btns">
                <li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
                <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
            </ul>
        </div>
        <!-- Btn Extras -->
        <form class="res-search">
            <input type="text" placeholder="Job title, keywords or company name" />
            <button type="submit"><i class="la la-search"></i></button>
        </form>
        <div class="responsivemenu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="#" title="">
                        <mat-icon>home</mat-icon> Home</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#" title="">Browse Tasks</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#" title="">Advance Search</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<header class="style5">
    <div class="menu-sec">
        <div class="container fluid">
            <nav>
                <ul>
                    <li class="menu-item-has-children">
                        <a title="" [routerLink]="['./home']"><i class="la la-home"></i> Home</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a title="" routerLinkActive="active" [routerLink]="['./tasks']"><i class="la la-tasks"></i> Browse Tasks</a>
                    </li>
                    <li *ngIf="authService.loggedIn" class="menu-item-has-children">
                        <a href="#" title="" [routerLink]="['./mytask']">My Tasks</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a title="" [routerLink]="['./search/-']"><i class="la la-search"></i> Advance Search</a>
                    </li>
                </ul>
            </nav>
            <!-- Menus -->
            <div class="logo">
                <a href="#" title=""><img src="assets/images/dg_logo.png" alt="" /></a>
            </div>
            <!-- Logo -->
            <div class="btn-extars">
                <a title="" class="post-job-btn" (click)="openDialog()"><i class="la la-plus"></i>Post Tasks</a>
                <ul class="account-btns">
                    <li class="signup-popup"><a title="" (click)="openRegisterDialog()"><i class="la la-key"></i> Sign Up</a></li>
                    <li class="signin-popup"><a title="" (click)="login()"><i class="la la-external-link-square"></i> Login</a></li>
                </ul>
            </div>
            <!-- Btn Extras -->
        </div>
    </div>
</header>