<mat-card (click)="ontaskcardclick()" class="task-card card border-secondary mb-3">
    <mat-card-header>
        <mat-card-subtitle class="header font-weight-bold small">{{task.category | uppercase }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="task-header-image">
                        <img *ngIf="task.client.photo" mat-card-avatar [src]="task.client.photo" />
                    </div>
                </div>
                <div class="col-lg-10">
                    <h6>{{task.title | slice:0:25}}</h6>
                    <p>{{task.description}}</p>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="rating font-weight-bold small">
        <span>5 Stars</span>
    </mat-card-actions>
</mat-card>