<mat-card (click)="ontaskcardclick()" [ngClass]="task.selected ? 'task-active' : ''" class="task-card mb-3">
    <mat-card-content>
        <div>
            <h3 class="sb-title open font-weight-bold">{{task.title | titlecase | slice:0:25}}</h3>
        </div>
        <div class="descr">{{task.description}}</div>
        <div *ngIf="task.lastbid" class="ramount-init font-weight-bold text-danger">{{task.rate.amount | currency:'CAD':'symbol':'1.0-0'}}</div>
        <div class="ramount font-weight-bold">{{currentPrice | currency:'CAD':'symbol':'1.0-0'}}</div>
        <div class="task-header-image float-right">
            <img *ngIf="task.client.photo" mat-card-avatar [src]="task.client.photo" />
        </div>
        <div class="taskinfo">
            <div>
                <mat-icon class="task-icon">location_on</mat-icon> {{task.location.city}}, {{task.location.zipcode}}</div>
            <div>
                <mat-icon class="task-icon">calendar_today</mat-icon> {{task.scheduled_date | date }}</div>
        </div>
        <div class="footer font-weight-bold small text-success">{{task.status | uppercase}} : 12 offers</div>
    </mat-card-content>
</mat-card>