<mat-card (click)="ontaskcardclick()" [ngClass]="task.selected ? 'task-active' : ''" class="task-card card border-secondary mb-3">
    <mat-card-header>
        <mat-card-subtitle>{{task.category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div mat-card-avatar class="task-header-image"></div>
        <p>
            {{task.title}} : {{task.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><i class="fas fa-star"></i>{{task.rating}} Stars</button>
    </mat-card-actions>
</mat-card>