.outlined {
  outline: solid 1px red;
}
.full-width {
  width: 100%;
}
.half-width{
  width: 50%;
}
.two-thrid-width{
  width: 75%;
}
.quarter-width{
  width: 25%;
}
.thick {
  font-weight: bold;
}
