<div class="card">
    <h5 class="card-header">
        <span class="float-right"> <a href="#">more..</a></span>
        <a data-toggle="collapse" class="text-muted" href="#card-service-request" aria-expanded="true" aria-controls="card-service-request">
            Service Request
            <i class="fa fa-caret-square-o-down float-left mt-1 mr-2"></i>
        </a>
    </h5>
    <div id="card-service-request" class="collapse show" aria-labelledby="service-request">
        <div class="card-body service-request">
           <app-loader></app-loader>
        </div>
    </div>
</div>
