<div class="container">
    <mat-card>
        <form #offerForm="ngForm" [formGroup]="offerFormGroup" autocomplete="off" (ngSubmit)="handleSave(offerForm.value)">
            <div class="d-flex flex-row">
                <div class="flex-fill">
                    <div>
                        <p>{{ task.title }}</p>
                        <p>{{ task.description }}</p>
                    </div>
                    <div>
                        <mat-form-field class="full-width" floatLabel="always">
                            <mat-label>Amount</mat-label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input matInput type="number" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="amount" appDigitOnly>
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button class="button button-danger" type="button" mat-button>Cancel</button>
                <button mat-button class="button button-primary" type="submit" mat-button>Save</button>
            </div>
        </form>
    </mat-card>

</div>