<section class="how-it-works" id='howItWorks'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="client" #clientSteps>
                    <h3 class="text-center text-web font-weight-bold">How It Works? 3 Easy Steps!</h3>
                    <div class="border web-border mx-auto d-block"></div>
                    <p class="text-center mt-1">
                        Each month more than 7 million jobhunt turn to website in their search for work,
                        <br>making over 160,000 applications everyday.
                    </p>
                    <div class="d-flex justify-content-between">
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-file-alt fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-1</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Post Your Task</p>
                            <p class="text-muted">
                                Include necessary details to explain your task along with the images
                            </p>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-arrow-right fa-2x pt-5 text-web"></i>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-check fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-2</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Select Preferred Tasker</p>
                            <p class="text-muted">
                                Talk to tasker and confirm tasker's details. And select the one meeting your needs.
                            </p>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-arrow-right fa-2x pt-5 text-web"></i>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-hand-holding-usd fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-3</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Payment</p>
                            <p class="text-muted">
                                Final payment is made to the tasker once the task is complete.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tasker d-none" #taskerSteps>
                    <h3 class="text-center text-web font-weight-bold">How It Works? 3 Easy Steps!</h3>
                    <div class="border web-border mx-auto d-block"></div>
                    <p class="text-center mt-1">
                        Each month more than 7 million jobhunt turn to website in their search for work,
                        <br>making over 160,000 applications everyday.
                    </p>
                    <div class="d-flex justify-content-between">
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-search fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-1</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Bid For Task</p>
                            <p class="text-muted">
                                Search & bid on the tasks meeting your skills
                            </p>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-arrow-right fa-2x pt-5 text-web"></i>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-address-card fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-2</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Connect with Client</p>
                            <p class="text-muted">
                                Talk to client and confirm client's details.
                            </p>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-arrow-right fa-2x pt-5 text-web"></i>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-hand-holding-usd fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-3</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Get Paid</p>
                            <p class="text-muted">
                                You get paid immediately when task is signed off.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Tasker -->
            </div>
        </div>
        <div class="clearfix"></div>
        <button class="btn btn-outline-web mx-auto d-block" (click)="authService.login()">Register Now</button>
    </div>
</section>