<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Popular Categories</h2>
                    </div>
                    <!-- Heading -->
                    <div class="cat-sec style2">
                        <div class="row">
                            <div *ngFor="let category of categoryRow[0]" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="p-category style2 gray">
                                    <a routerLink="/tasks/category/{{category}}" title="">
                                        <i class="la la-{{ fa_imageMap[category] }}"></i>
                                        <span>{{ category }}</span>
                                        <p>(22 open positions)</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngFor="let category of categoryRow[1]" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="p-category style2 gray">
                                    <a routerLink="/tasks/category/{{category}}" title="">
                                        <i class="la la-{{ fa_imageMap[category] }}"></i>
                                        <span>{{ category }}</span>
                                        <p>(22 open positions)</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>