<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <span class="navbar-brand">Filter :: </span>

    <div class="filter collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <mat-button-toggle-group name="fontStyle" value="all" aria-label="Font Style">
                    <mat-button-toggle value="all" (change)="onToggleChanged($event.value)">All Tasks</mat-button-toggle>
                    <mat-button-toggle value="posted" (change)="onToggleChanged($event.value)">Posted Tasks</mat-button-toggle>
                    <mat-button-toggle value="draft" (change)="onToggleChanged($event.value)">Draft Tasks</mat-button-toggle>
                    <mat-button-toggle value="assigned" (change)="onToggleChanged($event.value)">Tasks Assigned</mat-button-toggle>
                    <mat-button-toggle value="pending" (change)="onToggleChanged($event.value)">Offers Pending</mat-button-toggle>
                    <mat-button-toggle value="completed" (change)="onToggleChanged($event.value)">Tasks Completed</mat-button-toggle>
                </mat-button-toggle-group>
            </li>
        </ul>
    </div>
</nav>