<section #sArea class="page-wrapper">
    <app-task-filter
        [distanceToHome]="distanceToHome"
        [searchString]="searchString"
        (hideChanged)="handleHideChanged($event)"
        (categoriesChanged)="handleCategoryChanged($event)"
        (distanceChanged)="handleDistanceChanged($event)"
        (searchClicked)="handleSearchClicked($event)"
        (cityChanged)="handleCityChanged($event)"
        [selectedCategory]="selectedCategory"
        [currentCity]="currentCity"
    ></app-task-filter>

    <div class="browse-tasks">
        <div class="container-fluid">
            <div class="row">
                <div #scrollAreaGrp class="col-md-3">
                    <div #scrollArea *ngIf="taskList" class="task-box">
                        <p
                            class="font-weight-bold float-right m-0 mb-2 text-web"
                        >
                            {{ taskCount }} Tasks Found
                        </p>
                        <div class="clearfix"></div>
                        <div class="border mb-2"></div>
                        <div
                            class="task-list"
                            (overflow)="handleOverflow($event)"
                            (scroll)="handleScroll($event)"
                        >
                            <div
                                *ngFor="let task of taskList; let i = index"
                                [ngClass]="
                                    i === taskList.length - 1 ? 'lastOfMe' : ''
                                "
                            >
                                <app-task-card
                                    (taskSelected)="handleTaskSelected($event)"
                                    [task]="task"
                                ></app-task-card>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="m-2 font-weight-bold d-flex justify-content-center" *ngIf="!currentTask">No task exist for the current filter!!</div>
                    <app-task-view
                        *ngIf="currentTask"
                        [currentUser]="currentUser"
                        [task]="currentTask"
                        (taskStatusChanged)="handleStatusChanged($event)"
                    ></app-task-view>
                </div>
                <div class="col-md-3">
                    <div class="recommended-taskers">
                        <h5 class="font-weight-bold heading text-web">
                            Recommended Taskers
                        </h5>
                        <div class="border mb-3"></div>
                        <div
                            *ngFor="let tasker of taskerModel"
                            class="user-info"
                        >
                            <app-tasker-card
                                [tasker]="tasker"
                            ></app-tasker-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
