<section class="stats text-center">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-white font-weight-bold">dgiini Stats</h3>
                    <div class="border web-border mx-auto"></div>
                    <p class="mt-1 text-white">
                        Here we list our site stats & how many people he have
                        helped find a task and companies have found recruits.
                        Have a look!
                    </p>
                </div>

                <div *ngIf="taskStats" class="col-md-3">
                    <div class="stat-box">
                        <h1 class="font-weight-bold text-white mx-auto d-block">
                            {{ taskStats.total }}+
                        </h1>
                        <h4 class="text-white">
                            <i class="fas fa-file-alt"></i> Tasks Posted
                        </h4>
                    </div>
                </div>

                <div *ngIf="taskStats" class="col-md-3">
                    <div class="stat-box mx-auto">
                        <h1 class="font-weight-bold text-white mx-auto d-block">
                            {{ taskStats.filled }}+
                        </h1>
                        <h4 class="text-white">
                            <i class="fas fa-check"></i> Tasks Filled
                        </h4>
                    </div>
                </div>

                <div *ngIf="userStats" class="col-md-3">
                    <div class="stat-box mx-auto">
                        <h1 class="font-weight-bold text-white mx-auto d-block">
                            {{ userStats.vendor }}+
                        </h1>
                        <h4 class="text-white">
                            <i class="fas fa-users-cog"></i> Experts
                        </h4>
                    </div>
                </div>

                <div *ngIf="userStats" class="col-md-3">
                    <div class="stat-box mx-auto">
                        <h1 class="font-weight-bold text-white mx-auto d-block">
                            {{ userStats.client }}+
                        </h1>
                        <h4 class="text-white">
                            <i class="fas fa-users"></i> Members
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
