<section class="page-wrapper">
    <div class="page-heading text-white">
        <div class="container">
            <h3>Tasks Edit</h3>
            <p>Update your tasks.</p>
            <i class="fas fa-tasks shadow-icon"></i>
        </div>
    </div>

    <div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in sodales nunc. Etiam non porta elit. In hac
            habitasse platea dictumst. Curabitur erat lectus, mollis quis lorem quis, iaculis mollis arcu. Donec blandit,
            tortor non luctus placerat, sem sapien mollis orci, ut eleifend augue orci et purus. Praesent sit amet
            pellentesque sem. Nunc euismod vulputate bibendum. Vestibulum pellentesque leo et risus imperdiet mollis.
            Integer congue enim nisl, vitae sodales nunc tempus id.
        </p>
        <p>
            Vestibulum non suscipit lacus. Aliquam nec turpis nec mauris venenatis laoreet. Nunc nibh sem, porta ut viverra
            non, volutpat ac purus. Aenean ultrices turpis nibh, vitae lobortis mi eleifend condimentum. Cras auctor
            ultrices leo, vel hendrerit erat scelerisque sit amet. Suspendisse eu tincidunt metus, nec tempor dui. Donec
            iaculis a augue sit amet porttitor. Sed ipsum leo, ultricies vitae porttitor a, hendrerit vel tellus. Praesent
            quis tristique enim, vel ultricies justo. Aliquam erat volutpat. Sed ullamcorper tempor lacinia. Ut id eros
            mauris.
        </p>
        <p>
            Integer dapibus sit amet nunc at dignissim. Duis tempus lectus sit amet ligula facilisis placerat. Integer
            mattis efficitur ipsum sed varius. Sed hendrerit augue at risus malesuada, ac convallis quam fermentum. Interdum
            et malesuada fames ac ante ipsum primis in faucibus. Integer id nibh lacinia, tempus ante quis, imperdiet urna.
            Maecenas eget nunc in ligula ultrices suscipit id id justo. Nunc tristique, ligula in hendrerit lobortis, lacus
            velit pellentesque mauris, eu ultrices elit ex sit amet tortor. Phasellus interdum dapibus rhoncus. Etiam eget
            tellus ut ipsum accumsan eleifend cursus a tortor. Maecenas ante odio, porta id lorem eu, luctus luctus leo.
            Phasellus sollicitudin gravida augue, vitae fermentum orci maximus nec.
        </p>
        <p>
            Nam eget diam pretium, pharetra ex vitae, pellentesque purus. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Suspendisse sed pretium dolor, a cursus metus. Curabitur pellentesque accumsan felis. Suspendisse
            convallis rhoncus pulvinar. Nulla vel pulvinar diam. Nulla imperdiet, nisl sed lobortis luctus, augue eros
            viverra nulla, in finibus dui odio sed ante. Vivamus posuere magna vel ipsum fermentum, at tincidunt tellus
            facilisis. Nunc eu odio imperdiet, hendrerit turpis ac, venenatis risus. In euismod turpis risus, sed bibendum
            nisi faucibus eu. Donec vitae est quis risus iaculis viverra vel eget diam. Sed nec purus vel risus euismod
            cursus. Donec et elementum mauris. Mauris non elementum urna, et consectetur purus. Phasellus ac dolor eu ligula
            lobortis dapibus. Duis finibus urna id volutpat porttitor.
        </p>
    </div>

</section>




