<div *ngIf="message">
    <div class="container">
        <div class="row">
            <div class="text-primary col-md-12">
                <a href="#">{{message.from.name}}</a>
                <div *ngIf="message.from.rating">
                    <mat-icon class="rating_gold" *ngFor="let m of [0, 1, 2, 3, 4]">star</mat-icon>
                    {{ message.from.rating }} // [{{ message.from.ratingcount }}]
                    <!-- <mat-icon class="rating_gold" *ngFor="let i of ratingExces">star_half</mat-icon>[{{ message.from.ratingcount }}] -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="message-image col-md-2">
                <img *ngIf="message.from.photo" mat-card-avatar class="message-image" [src]="message.from.photo" />
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10 message_back">
                {{ message.message }}
            </div>
        </div>
        <div class="row">
            <div col-md-3>
                <button (click)="handleReply('message._id')"><mat-icon class="task-icon">reply</mat-icon></button>
            </div>
            <div class="offset-md-6 col-md-3 small">
                {{message.sentdate | date:'medium'}}
            </div>
        </div>
    </div>
    <hr/>
</div>