<section class="testimonials">
    <div class="container">
        <h3 class="text-center text-web font-weight-bold">
            Don't just take our word for it
        </h3>
        <div class="border web-border mx-auto"></div>
        <p class="text-center mt-2 mb-3">
            See how Taskers are saving the day for people like you.
        </p>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators d-none">
                <li
                    data-target="#myCarousel"
                    data-slide-to="0"
                    class="active"
                ></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <div class="img-box">
                        <img src="assets/images/user1.jpg" alt="" />
                    </div>
                    <p class="testimonial">
                        Tasker was very polite and had my items done in a really
                        reasonable Timely manor! I would hire him again for any
                        future jobs I may need done!
                    </p>
                    <p class="overview m-0">
                        <b>Dave Simon</b> 18, Jan 2020
                        <span class="badge badge-secondary">Cleaning</span>
                    </p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box">
                        <img src="assets/images/user2.jpg" alt="" />
                    </div>
                    <p class="testimonial">
                        Tasker was very polite and had my items done in a really
                        reasonable Timely manor! I would hire him again for any
                        future jobs I may need done!
                    </p>
                    <p class="overview m-0">
                        <b>Shelly Shaw</b> 18, Jan 2020
                        <span class="badge badge-secondary">Cleaning</span>
                    </p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box">
                        <img src="assets/images/user3.jpg" alt="" />
                    </div>
                    <p class="testimonial">
                        Tasker was very polite and had my items done in a really
                        reasonable Timely manor! I would hire him again for any
                        future jobs I may need done!
                    </p>
                    <p class="overview m-0">
                        <b>Geoff White</b> 18, Jan 2020
                        <span class="badge badge-secondary">Cleaning</span>
                    </p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a
                class="carousel-control left carousel-control-prev"
                href="#myCarousel"
                data-slide="prev"
            >
                <i class="fa fa-angle-left"></i>
            </a>
            <a
                class="carousel-control right carousel-control-next"
                href="#myCarousel"
                data-slide="next"
            >
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</section>
