<div class="" id="registerUserModal">
    <form [formGroup]="userForm" autocomplete="off" (ngSubmit)="handleSave(userForm.value)">
  
      <!-- Modal body -->
      <div class="modal-body">
        <h4 class="modal-title text-web font-weight-bold mb-2">
          <i class="fas fa-pen"></i> Update New User Info <span #postProgressText class="float-right percentage">16%</span>
        </h4>
        <div class="progress" style="height:7px">
          <div #postProgressBar class="progress-bar bg-web" style="width:20%;height:7px"></div>
        </div>
  
        <div class="register-form pt-3">
          <div formArrayName="subUserForms">
  
            <!-- Tab panes -->
            <div class="tab-content">
              <div formGroupName="0">
                <div class="tab-pane container p-0 active" id="register-step-1">
                  <div class="form-group mb-2">
                    <label for="name">Name</label>
                    <em *ngIf="forms[0].controls.name?.invalid && (forms[0].controls.name?.touched || mouseoverSave)">Required</em>
                    <input type="text" class="form-control" formControlName="name" id="name" name="name" placeholder="Name">
                  </div>
                  <div class="form-group mb-2">
                    <label for="phone">Phone</label>
                    <em *ngIf="forms[0].controls.phone?.invalid && (forms[0].controls.phone?.touched || mouseoverSave)">Required</em>
                    <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" formControlName="phone" id="phone" id="phone" placeholder="111-111-1111">
                  </div>
                  <div class="form-group">
                    <label for="category">Date of birth</label>
                    <em *ngIf="forms[0].controls.dob?.invalid && (forms[0].controls.dob?.touched || mouseoverSave)">Required</em>
                  <input type="date" max="2015-12-25" class="form-control" id="dob" name="dob" formControlName="dob" placeholder="Date of Birth">
                  </div>
                </div>
              </div>
              <div formGroupName="1">
                <div class="tab-pane container p-0 fade d-none" id="register-step-2">
                  <p class="font-weight-bold">Attachments (Optional)</p>
                  <div class="form-group mb-2 files">
                    <label for="task-drag-image">Upload Image</label>
                    <input type="file" accept="image/*" class="form-control" id="task-drag-image" (change)="handleFileInput($event.target.files)">
                  </div>
                  <div>
                      <img #photoImg alt="photo" src="assets/images/user.jpg" />
                  </div>
                </div>
              </div>
              <div formGroupName="2">
                <div class="tab-pane container p-0 fade d-none" id="register-step-3">
                  <div class="border p-2 pt-1 pb-1 rounded-lg mb-2">
                    <p class="m-0 text-web font-weight-bold"><i class="fas fa-info-circle"></i> Note</p>
                  </div>
  
                  <div class="form-group mb-2">
                    <label for="street">Street</label>
                    <em *ngIf="forms[2].controls.street?.invalid && (forms[2].controls.street?.touched || mouseoverSave)">Required</em>
                    <input type="text" class="form-control" id="street" name="street" formControlName="street" placeholder="Street">
                  </div>
  
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group mb-2">
                        <label for="city">City</label>
                        <input type="text" [readonly]="true" class="form-control" id="city" name="city" formControlName="city" placeholder="City">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group mb-2">
                        <label for="state">State</label>
                        <input type="text" [readonly]="true" class="form-control" id="state" name="state" formControlName="state" placeholder="State">
                      </div>
                    </div>
                  </div>
  
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group mb-2">
                        <label for="zipcode">Zip Code</label>
                        <em *ngIf="forms[2].controls.zipcode?.invalid && (forms[2].controls.zipcode?.touched || mouseoverSave)">Required</em>
                        <input type="text" class="form-control" id="zipcode" name="zipcode" formControlName="zipcode" placeholder="Zip Code">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group mb-2">
                        <label for="country">Country</label>
                        <input type="text" [readonly]="true" class="form-control" id="country" name="country" formControlName="country" placeholder="Country">
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
              <div formGroupName="3">
                <div class="tab-pane container p-0 fade d-none" id="register-step-4">
                  <p class="font-weight-bold">How did you hear about us?</p>
                  <div class="form-group mb-2">
                    <label for="howHeard">How did you hear about us?</label>
                    <em *ngIf="forms[3].controls.howHeard?.invalid && (forms[3].controls.howHeard?.touched || mouseoverSave)">Required</em>
                    <input type="howHeard" class="form-control" id="howHeard" name="howHeard" formControlName="howHeard" placeholder="?">
                  </div>
                </div>
              </div>
              <!-- </form> -->
              <div class="tab-pane container p-0 fade d-none" id="register-step-5">
                <p class="font-weight-bold">Confirm Details</p>
                <p class="m-0 font-weight-bold">Name</p>
                <p>{{forms[0].get('name')?.value}}</p>
                <p class="m-0 font-weight-bold">Phone</p>
                <p>{{forms[0].get('phone')?.value}}</p>
                <p class="m-0 font-weight-bold">Date of Birth</p>
                <p>{{forms[0].get('dob')?.value}}</p>
                <p class="m-0 font-weight-bold">Address</p>
                <p>{{forms[2].get('street')?.value}}, {{forms[2].get('city')?.value}}, {{forms[2].get('state')?.value}}, {{forms[2].get('zipcode')?.value}}, {{forms[2].get('country')?.value}}</p>
                <p class="m-0 font-weight-bold">How heard?</p>
                <p>{{forms[3].get('howheard')?.value}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Close</button>
        <button #postBackBtn type="button" class="btn btn-primary back-btn d-none" (click)="previousTab()"><i class="fas fa-arrow-left"></i> Back</button>
        <button (mouseenter)="mouseoverSave=true" (mouseleave)="mouseoverSave=false" #postNextBtn [disabled]="currentTabOpen > 4 ? 'true' : forms[currentTabOpen - 1].invalid" type="button" class="btn btn-web next-btn" (click)="nextTab()">Continuex <i class="fas fa-arrow-right"></i></button>
        <button (mouseenter)="mouseoverSave=true" (mouseleave)="mouseoverSave=false" #postPostBtn type="submit" class="btn btn-web next-btn register-btn d-none"><i class="fas fa-pen"></i> Register</button>
      </div>
  
    </form>
  
</div>