.outlined {
    outline: solid 1px red;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.two-thrid-width {
    width: 75%;
}

.quarter-width {
    width: 25%;
}

$ht: 520px;
.mcard {
    height: $ht;
}

.innerStepper {
    height: $ht - 40px;
}

//::ng-deep .mat-horizontal-stepper-header-container {}
::ng-deep .mat-horizontal-stepper-content {
    height: $ht - 160px;
}

// ::ng-deep mat-stepper-horizontal, mat-stepper-horizontal {
//     height: $ht;
// }
.mat-control {
    position: absolute;
    bottom: 20px;
    width: 90%;
}