<div class="" id="postTaskModal">
    <form
        [formGroup]="taskForm"
        autocomplete="off"
        (ngSubmit)="handleSave(taskForm.value)"
    >
        <!-- Modal body -->
        <div class="modal-body">
            <h4 class="modal-title text-web font-weight-bold mb-2">
                <i class="fas fa-pen"></i> Post Task
                <span #postTaskProgressText class="float-right task-percentage"
                    >{{percentage[0]}}%</span
                >
            </h4>
            <div class="progress" style="height: 7px;">
                <div
                    #postTaskProgressBar
                    class="progress-bar bg-web"
                    style="width: 20%; height: 7px;"
                ></div>
            </div>

            <div class="post-task-form pt-3">
                <div formArrayName="subTaskForms">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div formGroupName="0">
                            <div
                                class="tab-pane container p-0 active"
                                id="post-task-step-1"
                            >
                                <div class="form-group mb-2">
                                    <label for="title"
                                        >What do you need done?</label
                                    >
                                    <em
                                        *ngIf="
                                            forms[0].controls.title?.invalid &&
                                            (forms[0].controls.title?.touched ||
                                                mouseoverSave)
                                        "
                                        >Required</em
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="title"
                                        id="title"
                                        name="title"
                                        placeholder="Task Title"
                                    />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="description"
                                        >What are the details?</label
                                    >
                                    <em
                                        *ngIf="
                                            forms[0].controls.description
                                                ?.invalid &&
                                            (forms[0].controls.description
                                                ?.touched ||
                                                mouseoverSave)
                                        "
                                        >Required</em
                                    >
                                    <textarea
                                        class="form-control"
                                        rows="5"
                                        formControlName="description"
                                        id="description"
                                        id="description"
                                        placeholder="Task Details"
                                    ></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="category"
                                        >Select Category</label
                                    >
                                    <select
                                        class="form-control"
                                        id="category"
                                        name="category"
                                        formControlName="category"
                                    >
                                        <option value=""
                                            >-- Select Category --</option
                                        >
                                        <option
                                            *ngFor="
                                                let category of categoryList
                                            "
                                            value="{{ category }}"
                                            >{{ category }}</option
                                        >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="1">
                            <div
                                class="tab-pane container p-0 fade d-none"
                                id="post-task-step-2"
                            >
                                <p class="font-weight-bold">
                                    Attachments (Optional)
                                </p>
                                <div class="mb-2">
                                    <label for="">Uploaded Images</label>
                                    <div class="clearfix"></div>
                                    <div
                                        *ngFor="
                                            let photo of photos;
                                            let i = index
                                        "
                                        class="d-inline-block"
                                        tabindex="0"
                                        data-toggle="tooltip"
                                        title="{{ photo.filename }}"
                                    >
                                        <div class="img d-inline">
                                            <i
                                                class="fas fa-times"
                                                (click)="removeUpload(i)"
                                            ></i>
                                            <img
                                                src="assets/images/file.png"
                                                class="border"
                                                alt="Task Img"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-2 files">
                                    <label for="task-drag-image"
                                        >Upload Image</label
                                    >
                                    <input
                                        type="file"
                                        accept="image/*"
                                        class="form-control"
                                        id="task-drag-image"
                                        (change)="
                                            handleFileInput($event.target.files)
                                        "
                                        multiple
                                    />
                                </div>
                            </div>
                        </div>
                        <div formGroupName="2">
                            <div
                                class="tab-pane container p-0 fade d-none"
                                id="post-task-step-3"
                            >
                                <div
                                    class="border p-2 pt-1 pb-1 rounded-lg mb-2"
                                >
                                    <p class="m-0 text-web font-weight-bold">
                                        <i class="fas fa-info-circle"></i> Note
                                    </p>
                                    <p class="m-0 text-muted">
                                        Address will be kept confidential until
                                        task is assigned to tasker
                                    </p>
                                </div>

                                <div class="form-group mb-2">
                                    <label for="street">Street</label>
                                    <em
                                        *ngIf="
                                            forms[2].controls.street?.invalid &&
                                            (forms[2].controls.street
                                                ?.touched ||
                                                mouseoverSave)
                                        "
                                        >Required</em
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="street"
                                        name="street"
                                        formControlName="street"
                                        placeholder="Street"
                                    />
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="city">City</label>
                                            <input
                                                type="text"
                                                [readonly]="true"
                                                class="form-control"
                                                id="city"
                                                name="city"
                                                formControlName="city"
                                                placeholder="City"
                                            />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="state">State</label>
                                            <input
                                                type="text"
                                                [readonly]="true"
                                                class="form-control"
                                                id="state"
                                                name="state"
                                                formControlName="state"
                                                placeholder="State"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="zipcode"
                                                >Zip Code</label
                                            >
                                            <em
                                                *ngIf="
                                                    forms[2].controls.zipcode
                                                        ?.invalid &&
                                                    (forms[2].controls.zipcode
                                                        ?.touched ||
                                                        mouseoverSave)
                                                "
                                                >Required</em
                                            >
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="zipcode"
                                                name="zipcode"
                                                formControlName="zipcode"
                                                placeholder="Zip Code"
                                            />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="country">Country</label>
                                            <input
                                                type="text"
                                                [readonly]="true"
                                                class="form-control"
                                                id="country"
                                                name="country"
                                                formControlName="country"
                                                placeholder="Country"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="3">
                            <div
                                class="tab-pane container p-0 fade d-none"
                                id="post-task-step-4"
                            >
                                <p class="font-weight-bold">
                                    When you want it done?
                                </p>
                                <div class="form-group mb-2">
                                    <label for="date"
                                        >Expected Task Completion Date</label
                                    >
                                    <em
                                        *ngIf="
                                            forms[3].controls.date?.invalid &&
                                            (forms[3].controls.date?.touched ||
                                                mouseoverSave)
                                        "
                                        >Required</em
                                    >
                                    <input
                                        type="date"
                                        class="form-control"
                                        id="date"
                                        name="date"
                                        formControlName="date"
                                        placeholder="Enter Here"
                                    />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="time"
                                        >Expected Task Completion Time</label
                                    >
                                    <em
                                        *ngIf="
                                            forms[3].controls.time?.invalid &&
                                            (forms[3].controls.time?.touched ||
                                                mouseoverSave)
                                        "
                                        >Required</em
                                    >
                                    <input
                                        type="time"
                                        class="form-control"
                                        id="time"
                                        name="time"
                                        formControlName="time"
                                        placeholder="Enter Here"
                                    />
                                </div>
                            </div>
                        </div>
                        <div formGroupName="4">
                            <div
                                class="tab-pane container p-0 fade d-none"
                                id="post-task-step-5"
                            >
                                <p class="font-weight-bold">Offer</p>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            class="form-check-input"
                                            value="Total"
                                            formControlName="unit"
                                        />
                                        Total
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            class="form-check-input"
                                            value="Hourly"
                                            formControlName="unit"
                                        />
                                        Hourly
                                    </label>
                                </div>
                                <div class="form-group mb-2 mt-2">
                                    <label for="amount">Amount</label>
                                    <em
                                        *ngIf="
                                            forms[4].controls.amount?.invalid &&
                                            (forms[4].controls.amount
                                                ?.touched ||
                                                mouseoverSave)
                                        "
                                        >Required</em
                                    >
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                ><i
                                                    class="fas fa-dollar-sign text-web"
                                                ></i
                                            ></span>
                                        </div>
                                        <input
                                            type="number"
                                            class="form-control"
                                            placeholder="Amount"
                                            id="amount"
                                            name="amount"
                                            formControlName="amount"
                                        />
                                        <div class="input-group-append">
                                            <span class="input-group-text"
                                                ></span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="task-hours"
                                        >How long it will take?</label
                                    >
                                    <em
                                        *ngIf="
                                            forms[4].controls.duration
                                                ?.invalid &&
                                            (forms[4].controls.duration
                                                ?.touched ||
                                                mouseoverSave)
                                        "
                                        >Required</em
                                    >
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                ><i
                                                    class="fas fa-clock text-web"
                                                ></i
                                            ></span>
                                        </div>
                                        <input
                                            type="number"
                                            class="form-control"
                                            placeholder="Hours"
                                            id="duration"
                                            name="duration"
                                            formControlName="duration"
                                        />
                                        <div class="input-group-append">
                                            <span class="input-group-text"
                                                >hours</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="float-right big-text text-success font-weight-bold text-xl-right"> {{ calculateAmount(forms[4].get("unit")?.value, forms[4].get("amount")?.value, forms[4].get("duration")?.value) | currency: "CAD" }}</div>
                                </div>
                            </div>
                        </div>
                        <!-- </form> -->
                        <div
                            class="tab-pane container p-0 fade d-none"
                            id="post-task-step-6"
                        >
                            <p class="font-weight-bold">Confirm Details</p>
                            <p class="m-0 font-weight-bold">{{ forms[0].get("title")?.value }}</p>
                            <p>{{ forms[0].get("description")?.value }}</p>
                            <p>
                                <span class="m-0 font-weight-bold">Task Category:</span>
                                <span>{{ forms[0].get("category")?.value }}</span>
                            </p>
                            <p class="m-0 font-weight-bold">Address</p>
                            <p>
                                {{ forms[2].get("street")?.value }},
                                {{ forms[2].get("city")?.value }},
                                {{ forms[2].get("state")?.value }},
                                {{ forms[2].get("zipcode")?.value }},
                                {{ forms[2].get("country")?.value }}
                            </p>
                            <p>
                                <span class="m-0 font-weight-bold">Expected Completion</span>
                                <span>
                                    {{ forms[3].get("date")?.value }}
                                    {{ forms[3].get("time")?.value }}
                                </span>
                            </p>
                            <div class="amount">
                                <div class="float-right big-text text-success font-weight-bold text-xl-right"> {{ calculateAmount(forms[4].get("unit")?.value, forms[4].get("amount")?.value, forms[4].get("duration")?.value) | currency: "CAD" }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                (click)="cancel()"
            >
                Close
            </button>
            <button
                #postTaskBackBtn
                type="button"
                class="btn btn-primary back-btn d-none"
                (click)="previousTab()"
            >
                <i class="fas fa-arrow-left"></i> Back
            </button>
            <button
                (mouseenter)="mouseoverSave = true"
                (mouseleave)="mouseoverSave = false"
                #postTaskNextBtn
                [disabled]="
                    currentTabOpen > 5
                        ? 'true'
                        : forms[currentTabOpen - 1].invalid
                "
                type="button"
                class="btn btn-web next-btn"
                (click)="nextTab()"
            >
                Next <i class="fas fa-arrow-right"></i>
            </button>
            <button
                (mouseenter)="mouseoverSave = true"
                (mouseleave)="mouseoverSave = false"
                #postTaskPostBtn
                type="submit"
                class="btn btn-web next-btn post-task-btn d-none"
            >
                <i class="fas fa-pen"></i> Post Task
            </button>
        </div>
    </form>
</div>
