<div class="container">
    <app-loader *ngIf="!taskFormGroup"></app-loader>

    <mat-card>
        <form #taskForm="ngForm" [formGroup]="taskFormGroup" autocomplete="off" (ngSubmit)="handleSave(taskForm.value)">
            <mat-horizontal-stepper linear #stepper>
                <mat-step formGroupName="task1FormGroup" [stepControl]="taskFormGroup.get('task1FormGroup')">
                    <ng-template matStepLabel>What do you need done?</ng-template>
                    <div class="d-flex flex-row">
                        <div class="flex-fill">
                            <div>
                                <mat-form-field class="full-width" floatLabel="always">
                                    <mat-label>What do you need done?</mat-label>
                                    <input matInput placeholder="enter title" formControlName="title">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="full-width" floatLabel="always">
                                    <mat-label>What are the details</mat-label>
                                    <textarea matInput placeholder="enter details" formControlName="description" matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=8></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step formGroupName="task2FormGroup" [stepControl]="taskFormGroup.get('task2FormGroup')">
                    <ng-template matStepLabel>What Location?</ng-template>
                    <div class="d-flex flex-row">
                        <div class="flex-fill">
                            <div>
                                <mat-label>Location</mat-label>
                                <p>Note: Address will not be shared with prospect until bid has been accepted!</p>
                                <div>
                                    <mat-form-field class="full-width" floatLabel="always">
                                        <mat-label>Street</mat-label>
                                        <input type="text" matInput placeholder="enter street" formControlName="street" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select formControlName="city">
                                            <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select formControlName="state">
                                            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width" floatLabel="always">
                                        <mat-label>Postal Code</mat-label>
                                        <input type="text" matInput placeholder="enter postal code" formControlName="zipcode" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field>
                                        <mat-select formControlName="country">
                                            <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <mat-form-field class="full-width" floatLabel="always">
                                        <mat-label>When do you need it done?</mat-label>
                                        <input matInput [matDatepicker]="dp" placeholder="" formControlName="taskdate">
                                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                        <mat-datepicker #dp></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <div class="ngx-timepicker-field-example">
                                        <ngx-timepicker-field [buttonAlign]="'left'"></ngx-timepicker-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" mat-button matStepperPrevious>Back</button>
                        <button type="button" mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step formGroupName="task3FormGroup" [stepControl]="taskFormGroup.get('task3FormGroup')">
                    <ng-template matStepLabel>Where do you need it done?</ng-template>
                    <div class="d-flex flex-row">
                        <div class="flex-fill">
                            <div>
                                <mat-label>Where do you need it done?</mat-label>
                                <div>
                                    <mat-radio-group aria-label="Select an option" formControlName="rateunit">
                                        <mat-radio-button *ngFor="let key of rateunits_keys" [value]="rateunits[key] | lowercase">{{ rateunits[key] }}</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div>
                                <mat-form-field class="full-width" floatLabel="always">
                                    <mat-label>Amount</mat-label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input matInput type="number" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="rate" appDigitOnly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div>
                                <div class="input-group mb-2">
                                    <span class="font-weight-bold">How long will the job take:</span>
                                    <mat-slider thumbLabel [displayWith]="formatLabel" formControlName="esthrs" tickInterval="5" min="1" max="500"></mat-slider> {{ taskForm.task3FormGroup.esthrs }} hrs
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" mat-button matStepperPrevious>Back</button>
                        <button type="button" mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    Confirm entry ...
                    <div>
                        <div>
                            <h4>Following details submitted, please confirm and hit submit</h4>
                            <br/>Title: {{taskFormGroup.get('task1FormGroup').get('title').value}}
                            <br/>Description : {{taskFormGroup.get('task1FormGroup').get('description').value}}
                            <br/>Address :{{taskFormGroup.get('task2FormGroup').get('street').value}} {{taskFormGroup.get('task2FormGroup').get('city').value}}
                            <br/>Scheduled Date :{{taskFormGroup.get('task2FormGroup').get('taskdate').value}}
                            <br/>Rate :{{taskFormGroup.get('task3FormGroup').get('rate').value}}
                            <br/>Rate Unit :{{taskFormGroup.get('task3FormGroup').get('rateunit').value}}
                            <br/>Est. Hrs. :{{taskFormGroup.get('task3FormGroup').get('esthrs').value}}
                            <br/>
                        </div>

                    </div>
                    <div>
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" (click)="stepper.reset()">Reset</button>
                        <button mat-buttonb class="button button-primary" type="submit">Save</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>
    </mat-card>

</div>