<div class="" id="becomeTaskerUserModal">
    <form [formGroup]="userForm" autocomplete="off" (ngSubmit)="handleSave(userForm.value)">
        <!-- Modal body -->
        <div class="modal-body">
            <h4 class="modal-title text-web font-weight-bold mb-2">
                <i class="fas fa-pen"></i> Welcome - Update User Info
                <span #postProgressText class="float-right percentage">{{percentage[0]}}%</span>
            </h4>
            <div class="progress" style="height: 7px;">
                <div #postProgressBar class="progress-bar bg-web" style="width: 20%; height: 7px;"></div>
            </div>

            <div class="become-tasker-form pt-3">
                <div formArrayName="subUserForms">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div formGroupName="0">
                            <div class="tab-pane container p-0 active" id="become-tasker-step-1">
                                <div class="form-group mb-2">
                                    <label for="skillSummary">Skill Summary</label>
                                    <em *ngIf="
                                            forms[0].controls.skillSummary?.invalid &&
                                            (forms[0].controls.skillSummary?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <textarea type="text" rows="5" class="form-control" formControlName="skillSummary" id="skillSummary" name="skillSummary" placeholder="..." required></textarea>
                                </div>
                                <div class="form-group mb-2">
                                    <div>
                                        <label>Seleect applicable Skills</label>
                                    </div>
                                    <span *ngFor="let skill of skills" (click)="onSelectSkill($event)" class="badge badge-pill badge-secondary big-badge mr-1">{{skill}}</span>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="1">
                            <div class="tab-pane container p-0 active d-none" id="become-tasker-step-2">
                                <div class="form-group mb-2">
                                    <label for="phone">Bank Name</label>
                                    <em *ngIf="
                                            forms[2].controls.bankName?.invalid &&
                                            (forms[2].controls.bankName?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                        <select class="form-control" id="bankName" name="bankName" formControlName="bankName">
                                            <option value="">-- Select Bank/Inst --</option>
                                            <option *ngFor="
                                                let bank of banks
                                            " value="{{ bank }}">{{ bank }}</option>
                                        </select>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="name">Institution No</label>
                                    <em *ngIf="
                                            forms[2].controls.insitutionNo?.invalid &&
                                            (forms[2].controls.insitutionNo?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <input type="number" class="form-control" formControlName="insitutionNo" id="insitutionNo" name="insitutionNo" placeholder="Institution Number" />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="name">Transit No</label>
                                    <em *ngIf="
                                            forms[2].controls.transitNo?.invalid &&
                                            (forms[2].controls.transitNo?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <input type="number" class="form-control" formControlName="transitNo" id="transitNo" name="transitNo" placeholder="Transit Number" />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="name">Account No</label>
                                    <em *ngIf="
                                            forms[2].controls.name?.invalid &&
                                            (forms[2].controls.name?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <input type="number" class="form-control" formControlName="accountNo" id="accountNo" name="accountNo" placeholder="Account Number" />
                                </div>
                            </div>
                        </div>
                        <div formGroupName="2">
                            <div
                                class="tab-pane container active p-0 d-none"
                                id="become-tasker-step-3"
                            >
                                <p class="font-weight-bold">
                                    Attachments (Optional)
                                </p>
                                <div class="mb-2">
                                    <label>Uploaded Images</label>
                                    <div class="clearfix"></div>
                                    <div
                                        *ngFor="
                                            let photo of photos;
                                            let i = index
                                        "
                                        class="d-inline-block"
                                        tabindex="0"
                                        data-toggle="tooltip"
                                        title="{{ photo.filename }}"
                                    >
                                        <div class="img d-inline">
                                            <i
                                                class="fas fa-times"
                                                (click)="removeUpload(i)"
                                            ></i>
                                            <img
                                                src="assets/images/file.png"
                                                class="border"
                                                alt="Task Img"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-2 files">
                                    <label 
                                        >Upload Image</label
                                    >
                                    <input
                                        type="file"
                                        accept="image/*"
                                        class="form-control"
                                        id="task-drag-image"
                                        (change)="
                                            handleFileInput($event.target.files)
                                        "
                                        multiple
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container p-0 fade d-none" id="become-tasker-step-4">
                            <p class="font-weight-bold">Confirm Details</p>
                            <p class="m-0 font-weight-bold">Skill Summary</p>
                            <p class="m-0">{{ forms[0].get("skillSummary")?.value }}</p>
                            <p class="m-0 font-weight-bold">Bank Info</p>
                            <p>{{ forms[1].get("accountNo")?.value }}</p>
                            <p>{{ forms[1].get("bankName")?.value }}</p>
                            <p>{{ forms[1].get("transitNo")?.value }}</p>
                            <p>{{ forms[1].get("insitutionNo")?.value }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
                Close
            </button>
            <button #postBackBtn type="button" class="btn btn-primary back-btn d-none" (click)="previousTab()">
                <i class="fas fa-arrow-left"></i> Back
            </button>
            <button (mouseenter)="mouseoverSave = true" (mouseleave)="mouseoverSave = false" #postNextBtn [disabled]="
                    currentTabOpen > 5
                        ? 'true'
                        : forms[currentTabOpen - 1].invalid
                " type="button" class="btn btn-web next-btn" (click)="nextTab()">
                Next <i class="fas fa-arrow-right"></i>
            </button>
            <button (mouseenter)="mouseoverSave = true" (mouseleave)="mouseoverSave = false" #postPostBtn type="submit" class="btn btn-web next-btn become-tasker-btn d-none">
                <i class="fas fa-pen"></i> Become Tasker
            </button>
        </div>
    </form>
</div>
