<div class="" id="becomeTaskerUserModal">
    <form [formGroup]="userForm" autocomplete="off" (ngSubmit)="handleSave(userForm.value)">
        <!-- Modal body -->
        <div class="modal-body">
            <h4 class="modal-title text-web font-weight-bold mb-2">
                <i class="fas fa-pen"></i> Welcome - Update User Info
                <span #postProgressText class="float-right percentage">{{percentage[0]}}%</span>
            </h4>
            <div class="progress" style="height: 7px;">
                <div #postProgressBar class="progress-bar bg-web" style="width: 20%; height: 7px;"></div>
            </div>

            <div class="become-tasker-form pt-3">
                <div formArrayName="subUserForms">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div formGroupName="0">
                            <div class="tab-pane container p-0 active" id="become-tasker-step-1">
                                <div class="form-group mb-2">
                                    <label for="skillSummary">Skill Summary</label>
                                    <em *ngIf="
                                            forms[0].controls.skillSummary?.invalid &&
                                            (forms[0].controls.skillSummary?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <textarea type="text" rows="5" class="form-control" formControlName="skillSummary" id="skillSummary" name="skillSummary" placeholder="..." required></textarea>
                                </div>
                                <div class="form-group mb-2">
                                    <div>
                                        <label>Seleect applicable Skills</label>
                                    </div>
                                    <span *ngFor="let skill of skills" (click)="onSelectSkill($event)" class="badge badge-pill badge-secondary big-badge mr-1">{{skill}}</span>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="1">
                            <div class="tab-pane container p-0 active d-none" id="become-tasker-step-2">
                                <div class="form-group mb-2">
                                    <label for="website">Website</label>
                                    <input type="text" class="form-control" formControlName="website" id="website" name="website" placeholder="www.website.com" />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="facebook">Facebook</label>
                                    <input type="text" class="form-control" formControlName="facebook" id="facebook" name="facebook" placeholder="@username" />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="twitter">Twitter</label>
                                    <input type="text" class="form-control" formControlName="twitter" id="twitter" name="twitter" placeholder="@username" />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="linkedin">LinkedIn</label>
                                    <input type="text" class="form-control" formControlName="linkedin" id="linkedin" name="linkedin" placeholder="@username" />
                                </div>
                            </div>
                        </div>
                        <div formGroupName="2">
                            <div class="tab-pane container p-0 active d-none" id="become-tasker-step-3">
                                <div class="form-group mb-2">
                                    <label for="name">Account No</label>
                                    <em *ngIf="
                                            forms[2].controls.name?.invalid &&
                                            (forms[2].controls.name?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <input type="number" class="form-control" formControlName="accountNo" id="accountNo" name="accountNo" placeholder="Account Number" />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="phone">Bank Name</label>
                                    <em *ngIf="
                                            forms[2].controls.bankName?.invalid &&
                                            (forms[2].controls.bankName?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                        <select class="form-control" id="bankName" name="bankName" formControlName="bankName">
                                            <option value="">-- Select Bank/Inst --</option>
                                            <option *ngFor="
                                                let bank of banks
                                            " value="{{ bank }}">{{ bank }}</option>
                                        </select>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="name">Transit No</label>
                                    <em *ngIf="
                                            forms[2].controls.transitNo?.invalid &&
                                            (forms[2].controls.transitNo?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <input type="number" class="form-control" formControlName="transitNo" id="transitNo" name="transitNo" placeholder="Transit Number" />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="name">Institution No</label>
                                    <em *ngIf="
                                            forms[2].controls.insitutionNo?.invalid &&
                                            (forms[2].controls.insitutionNo?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <input type="number" class="form-control" formControlName="insitutionNo" id="insitutionNo" name="insitutionNo" placeholder="Institution Number" />
                                </div>
                            </div>
                        </div>
                        <div formGroupName="3">
                            <div class="tab-pane container p-0 active d-none" id="become-tasker-step-4">
                                <p class="font-weight-bold">
                                    Bank Branch locations address
                                </p>
                                <div class="form-group mb-2">
                                    <label for="street">Street</label>
                                    <em *ngIf="
                                            forms[3].controls.bkstreet?.invalid &&
                                            (forms[3].controls.bkstreet
                                                ?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <input type="text" class="form-control" id="bkstreet" name="bkstreet" formControlName="bkstreet" placeholder="Street" />
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="city">City</label>
                                            <input type="text" [readonly]="true" class="form-control" id="bkcity" name="bkcity" formControlName="bkcity" placeholder="City" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="state">State</label>
                                            <input type="text" [readonly]="true" class="form-control" id="bkstate" name="bkstate" formControlName="bkstate" placeholder="State" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="zipcode">Zip Code</label>
                                            <em *ngIf="
                                                    forms[3].controls.bkzipcode
                                                        ?.invalid &&
                                                    (forms[3].controls.bkzipcode
                                                        ?.touched ||
                                                        mouseoverSave)
                                                ">Required</em>
                                            <input type="text" class="form-control" id="bkzipcode" name="bkzipcode" formControlName="bkzipcode" placeholder="Zip Code" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="country">Country</label>
                                            <input type="text" [readonly]="true" class="form-control" id="bkcountry" name="bkcountry" formControlName="bkcountry" placeholder="Country" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="4">
                            <div class="tab-pane container p-0 active d-none" id="become-tasker-step-5">
                                <div class="form-group mb-2">
                                    <label for="cardno">Card No</label>
                                    <em *ngIf="
                                            forms[4].controls.cardno?.invalid &&
                                            (forms[4].controls.cardno?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <input type="text" class="form-control" formControlName="cardno" id="cardno" name="cardno" placeholder="Card Number" />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="nameoncard">Name on Card</label>
                                    <em *ngIf="
                                            forms[4].controls.nameoncard?.invalid &&
                                            (forms[4].controls.nameoncard?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                        <input type="text" class="form-control" formControlName="nameoncard" id="nameoncard" name="nameoncard" placeholder="Name" />
                                </div>
                                <div class="form-group mb-2">
                                    <label for="name">Expiry</label>
                                    <em *ngIf="
                                            forms[4].controls.expiry?.invalid &&
                                            (forms[4].controls.expiry?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <input type="text" class="form-control" formControlName="expiry" id="expiry" name="expiry" placeholder="Expiry" />
                                </div>
                            </div>
                        </div>
                        <div formGroupName="5">
                            <div class="tab-pane container p-0 active d-none" id="become-tasker-step-6">
                                <p class="font-weight-bold">
                                    Credit card billing address
                                </p>
                                <div class="form-group mb-2">
                                    <label for="street">Street</label>
                                    <em *ngIf="
                                            forms[5].controls.ccstreet?.invalid &&
                                            (forms[5].controls.ccstreet
                                                ?.touched ||
                                                mouseoverSave)
                                        ">Required</em>
                                    <input type="text" class="form-control" id="ccstreet" name="ccstreet" formControlName="ccstreet" placeholder="Street" />
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="city">City</label>
                                            <input type="text" [readonly]="true" class="form-control" id="cccity" name="cccity" formControlName="cccity" placeholder="City" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="state">State</label>
                                            <input type="text" [readonly]="true" class="form-control" id="ccstate" name="ccstate" formControlName="ccstate" placeholder="State" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="zipcode">Zip Code</label>
                                            <em *ngIf="
                                                    forms[5].controls.cczipcode
                                                        ?.invalid &&
                                                    (forms[5].controls.cczipcode
                                                        ?.touched ||
                                                        mouseoverSave)
                                                ">Required</em>
                                            <input type="text" class="form-control" id="cczipcode" name="cczipcode" formControlName="cczipcode" placeholder="Zip Code" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label for="country">Country</label>
                                            <input type="text" [readonly]="true" class="form-control" id="cccountry" name="cccountry" formControlName="cccountry" placeholder="Country" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="6">
                            <div
                                class="tab-pane container active p-0 d-none"
                                id="become-tasker-step-7"
                            >
                                <p class="font-weight-bold">
                                    Attachments (Optional)
                                </p>
                                <div class="mb-2">
                                    <label>Uploaded Images</label>
                                    <div class="clearfix"></div>
                                    <div
                                        *ngFor="
                                            let photo of photos;
                                            let i = index
                                        "
                                        class="d-inline-block"
                                        tabindex="0"
                                        data-toggle="tooltip"
                                        title="{{ photo.filename }}"
                                    >
                                        <div class="img d-inline">
                                            <i
                                                class="fas fa-times"
                                                (click)="removeUpload(i)"
                                            ></i>
                                            <img
                                                src="assets/images/file.png"
                                                class="border"
                                                alt="Task Img"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-2 files">
                                    <label 
                                        >Upload Image</label
                                    >
                                    <input
                                        type="file"
                                        accept="image/*"
                                        class="form-control"
                                        id="task-drag-image"
                                        (change)="
                                            handleFileInput($event.target.files)
                                        "
                                        multiple
                                    />
                                </div>
                            </div>
                        </div>
                        <div formGroupName="7">
                            <div class="tab-pane container p-0 active d-none" id="become-tasker-step-8">
                                <div class="form-row" *ngFor="let vh of vehicleList; let idx = index">
                                    <div class="col-1">
                                        <button type="button" class="btn btn-sm btn-danger float-right" (click)="deleteVehicle(idx)">
                                            <i class="fas fa-minus"></i>
                                          </button>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label>Brand</label>
                                            <select class="form-control" id="brand" name="brand" (change)="getVehicleModel($event, idx);">
                                                <option value="">-- Select Brand --</option>
                                                <option *ngFor="
                                                    let vbrand of vehicleBrands
                                                " value="{{ vbrand }}">{{ vbrand }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label>Model</label>
                                            <select class="form-control" id="model" name="model" (change)="setModelValue($event, idx);">
                                                <option value="">-- Select Model --</option>
                                                <option *ngFor="
                                                    let vModel of vehicleModels[idx]
                                                " value="{{ vModel }}">{{ vModel }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-2">
                                            <label>Year</label>
                                            <select class="form-control" id="year" name="year" (change)="setYearValue($event, idx);">
                                                <option value="">-- Select Year --</option>
                                                <option *ngFor="
                                                    let year of autoYearList
                                                " value="{{ year }}">{{ year }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-sm btn-success float-right" (click)="addVehicle()">
                      <i class="fas fa-plus"></i>
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </form> -->
                        <div class="tab-pane container p-0 fade d-none" id="become-tasker-step-9">
                            <p class="font-weight-bold">Confirm Details</p>
                            <p class="m-0 font-weight-bold">Bank Info</p>
                            <p>{{ forms[2].get("accountNo")?.value }}</p>
                            <p>{{ forms[2].get("bankName")?.value }}</p>
                            <p>{{ forms[2].get("transitNo")?.value }}</p>
                            <p>{{ forms[2].get("insitutionNo")?.value }}</p>
                            <p class="m-0 font-weight-bold">Bank Address</p>
                            <p>
                                {{ forms[3].get("bkstreet")?.value }},
                                {{ forms[3].get("bkcity")?.value }},
                                {{ forms[3].get("bkstate")?.value }},
                                {{ forms[3].get("bkzipcode")?.value }},
                                {{ forms[3].get("bkcountry")?.value }}
                            </p>
                            <p class="m-0 font-weight-bold">Card</p>
                            <p>{{ forms[4].get("cardno")?.value }}</p>
                            <p>{{ forms[4].get("nameoncard")?.value }}</p>
                            <p>{{ forms[4].get("expiry")?.value }}</p>
                            <p class="m-0 font-weight-bold">Billing Address</p>
                            <p>
                                {{ forms[5].get("ccstreet")?.value }},
                                {{ forms[5].get("cccity")?.value }},
                                {{ forms[5].get("ccstate")?.value }},
                                {{ forms[5].get("cczipcode")?.value }},
                                {{ forms[5].get("cccountry")?.value }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
                Close
            </button>
            <button #postBackBtn type="button" class="btn btn-primary back-btn d-none" (click)="previousTab()">
                <i class="fas fa-arrow-left"></i> Back
            </button>
            <button (mouseenter)="mouseoverSave = true" (mouseleave)="mouseoverSave = false" #postNextBtn [disabled]="
                    currentTabOpen > 9
                        ? 'true'
                        : forms[currentTabOpen - 1].invalid
                " type="button" class="btn btn-web next-btn" (click)="nextTab()">
                Next <i class="fas fa-arrow-right"></i>
            </button>
            <button (mouseenter)="mouseoverSave = true" (mouseleave)="mouseoverSave = false" #postPostBtn type="submit" class="btn btn-web next-btn become-tasker-btn d-none">
                <i class="fas fa-pen"></i> Become Tasker
            </button>
        </div>
    </form>
</div>
