<div class="login-popup-wrap new_login_popup">

    <div class="login-popup-heading text-center">
        <h4><i class="fa fa-lock" aria-hidden="true"></i> Login </h4>
    </div>
    <!--<form accept-charset="utf-8" method="post" action="">-->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" formControlName="username" placeholder="username" [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }">
            <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
                <div *ngIf="formControls.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }">
            <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
                <div *ngIf="formControls.password.errors.required">Password is required</div>
            </div>
        </div>
        <!-- <div class="form-group">
        <label for="domain">Domain</label>

        <input type="text" class="form-control" [(ngModel)]="model.domain" placeholder="Domain" name="domain">
    </div> -->
        <div><button type="submit" class="btn btn-default login-popup-btn" name="submit" value="1">Sign in</button></div>

    </form>
    <app-loader *ngIf="loading"></app-loader>
    <div class="alert alert-danger" role="alert" *ngIf="inCorrectCredintials">
        username / password were not correct, or you don't have sufficient privileges to access the dgiini.
    </div>
</div>