<app-band></app-band>
<div>
    <h3>Find the task you want</h3>
    <div>
        <form #searchForm="ngForm" [formGroup]="searchFormGroup" autocomplete="off" (ngSubmit)="handleSearch(searchForm.value)">
            <div class="container">
                <div class="row">
                    <h1>dgiini</h1>
                    <p>Some mothers do have them ...</p>
                    <div class="col-lg-10">
                        <mat-form-field class="full-width" floatLabel="always">
                            <input matInput placeholder="enter seach" formControlName="search">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" [disabled]="searchFormGroup.invalid" class="btn btn-success"><mat-icon>search</mat-icon>Search</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>