<section class="faq">
    <div class="container">
        <h3 class="text-web font-weight-bold">Frequently Asked Questions?</h3>
        <div class="border web-border"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="question-box">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <a
                                        class="btn btn-link"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                    >
                                        How do I get started?
                                    </a>
                                </h2>
                            </div>

                            <div
                                id="collapseOne"
                                class="collapse show"
                                aria-labelledby="headingOne"
                                data-parent="#accordionExample"
                            >
                                <div class="card-body">
                                    You can get started by creating a profile as
                                    a tasker, a client or both. on the platform.
                                    By creating your profile, you have full
                                    access to all the benefits the platform has
                                    to offer. As a registered client, you can
                                    post and schedule tasks while as a tasker,
                                    you can bid for tasks and get paid instantly
                                    once the tasks are completed.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <a
                                        class="btn btn-link collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                        Are taskers vetted before being
                                        registered
                                    </a>
                                </h2>
                            </div>
                            <div
                                id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordionExample"
                            >
                                <div class="card-body">
                                    All our taskers are vetted by running their
                                    profiles though the provincial and federal
                                    police database. Furthermore, taskers in any
                                    of the professional/ regulated fields are
                                    required to submit their qualifying
                                    certificates. All taskers are also required
                                    to provide a minimum of 2 copies of
                                    government issued ID as proof of
                                    identification and residency.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <a
                                        class="btn btn-link collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree"
                                    >
                                        How do I know which tasker is qualified
                                        to perform specific tasks?
                                    </a>
                                </h2>
                            </div>
                            <div
                                id="collapseThree"
                                class="collapse"
                                aria-labelledby="headingThree"
                                data-parent="#accordionExample"
                            >
                                <div class="card-body">
                                    Taskers create their profiles and you can
                                    read through the profiles or check the
                                    tasker’s experience, check the qualification
                                    badges or check their ratings so as to give
                                    you an idea of their qualifications.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <a
                                        class="btn btn-link collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseFour"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        Can I negotiate offers privately
                                    </a>
                                </h2>
                            </div>

                            <div
                                id="collapseFour"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordionExample"
                            >
                                <div class="card-body">
                                    We strongly discourage negotiating offers
                                    and acceptance outside the platform. All
                                    chats between the tasker and the client can
                                    be done via the chat section of the platform
                                    and these communications are secured and are
                                    only seen by the tasker and the client. By
                                    keeping restricting all communication to the
                                    platform, it makes it easy for all parties
                                    to resolve any misunderstandings.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <a
                                        class="btn btn-link collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseFive"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                        How much does the service cost
                                    </a>
                                </h2>
                            </div>
                            <div
                                id="collapseFive"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordionExample"
                            >
                                <div class="card-body">
                                    The cost of each task varies. The Client
                                    stipulates how much he/ she wants to pay for
                                    tasks and once the task is posted, taskers
                                    are able to bid based on their availability
                                    and skills level and then, the client can
                                    select his/ her preferred tasker. Therefore,
                                    the cost of each task is determine by both
                                    the client and the tasker
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-none">
                <div class="suggested-tasker p-3 text-center mb-3">
                    <img
                        src="assets/images/user.jpg"
                        class="border rounded-circle"
                        alt="Tasker Image"
                    />
                    <div class="border web-border mt-2 w-25 mx-auto"></div>
                    <h6 class="mb-0 mt-1 font-weight-bold">Augusta Silva</h6>

                    <p class="m-0 badge badge-web">Cleaning</p>
                    <p class="text-justify mt-2">
                        Without dgiini i'd be homeless, the found me a job and
                        got me sorted out quickly with everything! Can't quite
                        beleive the service level they offer!
                    </p>
                    <div class="clearfix"></div>
                </div>

                <div class="suggested-tasker p-3 text-center mb-3">
                    <img
                        src="assets/images/user.jpg"
                        class="border rounded-circle"
                        alt="Tasker Image"
                    />
                    <div class="border web-border mt-2 w-25 mx-auto"></div>
                    <h6 class="mb-0 mt-1 font-weight-bold">Tasker Name</h6>

                    <p class="m-0 badge badge-web">Gardening</p>
                    <p class="text-justify mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
