<div class="container-fluid landin-page">
    <div class="f-flex flex-row flex-wrap">

        <div class="mt-5 cards-group">
            <div class="row mb-2">
                <app-carousel></app-carousel>
            </div>
        </div>
        <div class="mt-5 cards-group">
            <div class="row mb-2">
                <app-task-category-node></app-task-category-node>
            </div>
        </div>
        <div class="mt-5 cards-group">
            <div class="row mb-2">
                <app-task-showcase></app-task-showcase>
            </div>
        </div>
    </div>
</div>