<div class="post-bid mt-3">
    <div class="border rounded-lg p-2">
        <p class="font-weight-bold text-web m-0"><i class="fas fa-info-circle"></i> Note</p>
        <p class="m-0 text-muted">Please do not share persoanl info - insurance won't apply to task not done throught dgiini
        </p>
    </div>

    <h6 class="mt-2">Your Proposal</h6>
    <textarea class="form-control" name="" id="" rows="4" placeholder="Descrive your strategy here, how you're gonna achieve this task"></textarea>
    <h6 class="mt-2">Your Price</h6>
    <input type="number" class="form-control" placeholder="Your Price">
    <button class="btn mt-2 btn-web float-right">Post Bid</button>
    <div class="clearfix"></div>
</div>