<div class="post-bid mt-3">
    <div class="border rounded-lg p-2">
        <p class="font-weight-bold text-web m-0"><i class="fas fa-info-circle"></i> Note</p>
        <p class="m-0 text-muted">Please do not share persoanl info - insurance won't apply to task not done throught dgiini
        </p>
    </div>

    <h6 class="mt-2">Your Proposal</h6>
    <textarea class="form-control" name="" id="" rows="4" placeholder="Descrive your strategy here, how you're gonna achieve this task"></textarea>
    <h6 class="mt-2">Your Price</h6>
    <input type="number" class="form-control" placeholder="Your Price">
    <button class="btn mt-2 btn-web float-right">Post Bid</button>
    <div class="clearfix"></div>
</div>


<!-- <mat-card class=" card border-secondary mb-3">
    <form #messageForm="ngForm" autocomplete="off" (ngSubmit)="handleSubmit(messageForm.value)">
        <div class="container">
            <div class="row" *ngIf="messageInReply">
                <div class="offset-lg-1 offset-md-2 offset-sm-4 col-lg-11 col-md-10 col-sm-8 mb-2">
                    Replying to: {{ messageInReply.from.name }} message on {{ messageInReply.sentdate | date:'medium' }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-2 col-sm-4">
                    <div class="message-image">
                        <img *ngIf="currentUser" mat-card-avatar class="message-image" [src]="currentUser.picture" />
                    </div>
                </div>
                <div class="col-lg-11 col-md-10 col-sm-8">
                    <em class="small font-italic" *ngIf="messageForm.controls.message?.invalid && (messageForm.controls.message?.touched || mouseoverSave)">Required</em>
                    <textarea name="message" matInput placeholder="type message here..." [(ngModel)]="message" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=2 required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="offset-lg-8 offset-md-6 offset-sm-4 col-lg-4 col-md-6 col-sm-8 float-right">
                    <button type="button" class="btn btn-danger float-right" (click)="handleCancel()"><fa-icon [icon]="faTimes"></fa-icon> Clear</button>
                    <span (mouseenter)="mouseoverSave=true" (mouseleave)="mouseoverSave=false">
            <button type="submit" [disabled]="messageForm.invalid" class="btn btn-success float-right mr-1"><fa-icon [icon]="faPaperPlane"></fa-icon> Send</button>
          </span>
                </div>
            </div>
        </div>
    </form>
</mat-card> -->