<div class="mt-3">
    <div class="border rounded-lg p-2">
        <google-map
            height="200px"
            width="100%"
            [center]="center"
            [zoom]="zoom"
        >
            <map-marker
                #marker
                [position]="markerPosition"
                [options]="markerOptions"
                (mapClick)="openInfoWindow(marker)"
            ></map-marker>
            <map-info-window>Info Window content</map-info-window>
        </google-map>
    </div>
</div>
