<div class="card">
    <h5 class="card-header">
        <span class="float-right"> <a href="#">more..</a></span>
        <a data-toggle="collapse" class="text-muted" href="#card-project" aria-expanded="true" aria-controls="card-project">
            Project
            <i class="fa fa-caret-square-o-down float-left mt-1 mr-2"></i>
        </a>
    </h5>
    <div id="card-project" class="collapse show" aria-labelledby="heading-example">
        <div class="card-body project">
            <div id="project-accordion">
                <div class="card">
                    <div class="card-header" id="headingProject1">
                        <h5 class="mb-0">
                            <button class="btn btn-block" data-toggle="collapse" data-target="#collapseProject1" aria-expanded="true"
                                    aria-controls="collapseProject1">
                                Project #1
                            </button>
                        </h5>
                    </div>
                    <div id="collapseProject1" class="collapse show" aria-labelledby="headingProject1" data-parent="#project-accordion">
                        <div class="card-body">
                            <h4>Edit File Name</h4>
                            <h4>Remove From List</h4>
                            <h4>Lorem ipsum Dolores</h4>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingProject2">
                        <h5 class="mb-0">
                            <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#collapseProject2" aria-expanded="true"
                                    aria-controls="collapseProject2">
                                Project #2
                            </button>
                        </h5>
                    </div>
                    <div id="collapseProject2" class="collapse" aria-labelledby="headingProject2" data-parent="#project-accordion">
                        <div class="card-body">
                            <h4>Edit File Name</h4>
                            <h4>Remove From List</h4>
                            <h4>Lorem ipsum Dolores</h4>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingProject3">
                        <h5 class="mb-0">
                            <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#collapseProject3" aria-expanded="true"
                                    aria-controls="collapseProject3">
                                Project #3
                            </button>
                        </h5>
                    </div>
                    <div id="collapseProject3" class="collapse" aria-labelledby="headingProject3" data-parent="#project-accordion">
                        <div class="card-body">
                            <h4>Edit File Name</h4>
                            <h4>Remove From List</h4>
                            <h4>Lorem ipsum Dolores</h4>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingProject4">
                        <h5 class="mb-0">
                            <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#collapseProject4" aria-expanded="true"
                                    aria-controls="collapseProject4">
                                Project #4
                            </button>
                        </h5>
                    </div>
                    <div id="collapseProject4" class="collapse" aria-labelledby="headingProject4" data-parent="#project-accordion">
                        <div class="card-body">
                            <h4>Edit File Name</h4>
                            <h4>Remove From List</h4>
                            <h4>Lorem ipsum Dolores</h4>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingProject5">
                        <h5 class="mb-0">
                            <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#collapseProject5" aria-expanded="true"
                                    aria-controls="collapseProject5">
                                Project #5
                            </button>
                        </h5>
                    </div>
                    <div id="collapseProject5" class="collapse" aria-labelledby="headingProject5" data-parent="#project-accordion">
                        <div class="card-body">
                            <h4>Edit File Name</h4>
                            <h4>Remove From List</h4>
                            <h4>Lorem ipsum Dolores</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
