<div class="widget">
    <div class="search_widget_job">
        <div class="field_w_search">
            <input type="text" placeholder="Search Keywords" [formControl]="searchControl" />
            <i class="la la-search"></i>
        </div>
        <!-- Search Widget -->
        <div class="field_w_search">
            <mat-form-field class="city-full-width field_w_search">
                <input type="text" placeholder="-" [value]="currentCity" aria-label="Number" matInput [formControl]="cityControl" [matAutocomplete]="auto">
                <i class="la la-map-marker"></i>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onCityChanged($event.option.value)'>
                    <mat-option *ngFor="let city of filteredOptions | async" [value]="city">
                        {{city}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <!-- Search Widget -->
    </div>
</div>
<div class="widget border">
    <h3 class="sb-title open">Categories</h3>
    <div class="specialism_widget">
        <div class="simple-checkbox">
            <p *ngFor="let category of categoryList"><input type="checkbox" name="spealism" id="{{ category }}" (change)="onCategoriesChanged($event)" [checked]="chechInSelected(category)"><label for="{{ category }}">{{ category }}</label></p>
        </div>
    </div>
</div>
<div class="widget border">
    <h3 class="sb-title open">Distance</h3>
    <div class="range_slider">
        <mat-slider thumbLabel (change)="onDistanceChanged()" [displayWith]="formatLabel" [(ngModel)]="distanceToHome" tickInterval="50" min="50" max="100"></mat-slider> {{ distanceToHome }} km
    </div>
</div>