<mat-card class="card border-secondary mb-3">
    <mat-card-header>
        <mat-card-subtitle>
            <h3>{{task.title | titlecase}}</h3><span class="statusBadge badge badge-success">{{task.status | titlecase}}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div class="budget border border-success rounded-lg w-25 p-3 float-right text-center">
                <span>Budget</span>
                <div class="font-weight-bold">{{task.rate.amount | currency:'CAD' }}</div>
                <button type="button" class="btn btn-primary">Make Offer</button>
            </div>
            <div>
                <div>
                    <div class="font-weight-bold">Posted By</div>
                    <div>{{task.client.name}}</div>
                </div>
                <div>
                    <div class="font-weight-bold">Location</div>
                    <div>{{task.location.street}} {{task.location.city}} {{task.location.state}}</div>
                </div>
                <div>
                    <div class="font-weight-bold">Due Date</div>
                    <div>{{task.posted_date | date}}</div>
                </div>
            </div>
            <div>
                <span class="font-weight-bold">Details</span>
                <div>{{task.description}}</div>
                <div>
                    <div>
                        <img src="" />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <span class="font-weight-bold">Messages</span>
                    <p>Please don't share personal info – insurance won't apply to tasks not done through dgiini!</p>
                </div>
                <div>
                    <app-message-sender></app-message-sender>
                </div>
                <div>
                    <app-message-list [messages]="messages"></app-message-list>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>