<div class="card">
    <h5 class="card-header">
        <span class="float-right"> <a href="#" >more..</a></span>
        <a data-toggle="collapse" class="text-muted" href="#card-contact" aria-expanded="true" aria-controls="card-contact">
            Contact
            <i class="fa fa-caret-square-o-down float-left mt-1 mr-2"></i>
        </a>
    </h5>
    <div id="card-contact" class="collapse show" aria-labelledby="heading-example">
        <div class="card-body contact">
            <ul class="list-group" id="contact-list">
                <li class="list-group-item d-flex flex-column">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="assets/images/contacts/samantha.png" alt="Scott Stevens" class="border image rounded-circle" />
                        </div>
                        <div class="d-flex flex-column">
                            <span class="name">Samantha Clark</span>
                            <span class="ext">Ext: 6556</span>
                            <span class="email">Email: sclark@icao.int</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex flex-column contact">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="assets/images/contacts/jackson.png" alt="Scott Stevens" class="border image rounded-circle" />
                        </div>
                        <div class="d-flex flex-column">
                            <span class="name">Jackson Smith</span>
                            <span class="ext">Ext: 7845</span>
                            <span class="email">Email: jsmith@icao.int</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex flex-column contact">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="assets/images/contacts/Harold.png" alt="Scott Stevens" class="border image rounded-circle" />
                        </div>
                        <div class="d-flex flex-column">
                            <span class="name">Harold Chan</span>
                            <span class="ext">Ext: 7845</span>
                            <span class="email">Email: hchan@icao.int</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
