.contact
                {
                    .list-group
                    {
                        li
                        {
                            .image
                            {
                                width: 60px;
                                height: 60px;
                                padding: 5px;
                            }
                            span
                            {
                                word-wrap: none;
                                &.name
                                {
                                    font-family: 'Open Sans';
                                    font-size: 15px;
                                    color: black;
                                }
                                &.email
                                {
                                    font-family: 'Open Sans';
                                    font-size: 14px;
                                    color: black;
                                }
                                &.ext
                                {
                                    font-family: 'Open Sans';
                                    font-size: 14px;
                                    color: black;
                                }
                            }
                        }
                    }
                }
