<section>
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(http://placehold.it/1920x1000) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color green2"></div>
        <!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 column">
                    <div class="detailbar">
                        <h3>Are You Skilled?</h3>
                        <p>Find everything you need to post a job and receive the best candidates by visiting our Empl oyer website. We offer small business and enterprise options.</p>
                    </div>
                </div>
                <div class="col-lg-4 column">
                    <div class="detalbr-mkp">
                        <img src="assets/images/pet_care.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>