
.budget-expend-scale {
  h4
  {
      font-family: 'Open Sans';
      font-size: 20px;
      color: black;
  }

  h5
  {
      font-family: 'Open Sans';
      font-size: 14px;
      color:black;
      vertical-align: middle;
  }
    .expenditure
    {
        background: #f5821f ;
    }
    .funding{
        background: #0568b8;
    }
    .progress-tag{
        min-width: 30px;
        text-align: right;
    }
}
