<div class="text-center">
    <div class="header">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div>
        It will be nice 
        to see you 
        signup or login :)!
    </div>
    <div class="mt-5 w-80">
        <a class="btn btn-outline-web btn-block" (click)="authService.login()"><i class="fas fa-sign-in-alt"></i>
            Signup</a>
    </div>

    <div class="mt-5 w-80">
        <a class="btn btn-outline-web btn-block" (click)="authService.login()"><i class="fas fa-user-plus"></i>
            Login</a>
    </div>
</div>