
.profile-img {
    font-size: 20px;
    width: 40px;
    height: 40px;
}

.msg {
    margin: 10px 0px;
    color: #ffffff;
    padding: 10px 5px 10px 10px;
    border-radius: 10px;
}

.msg-right {
    background-color: #00cc00;
    margin-right: 30px;
}

.msg-left {
    background-color: #3399ff;
    margin-left: 30px;
}

.red{
    background-color: red;
}
