<div class="container">
  <app-loader *ngIf="!(regions && countries && typeOfProjects)"></app-loader>
    <mat-card *ngIf="(regions && countries && typeOfProjects)">
        <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="locationFormGroup">
              <form [formGroup]="locationFormGroup" (ngSubmit)="handleLocationFormGroup()">
                <ng-template matStepLabel>Location</ng-template>
                  <div class="d-flex flex-row">
                      <div class="flex-fill"></div>
                      <div class="flex-fill">
                        <div>
                          <mat-form-field class="full-width" floatLabel="always">
                            <mat-label>Region</mat-label>
                            <select matNativeControl formControlName="regionId" (change)="onRegionChanged($event.target.value)" >
                                <option selected></option>
                              <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
                            </select>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field class="full-width" floatLabel="always">
                              <mat-label>Country</mat-label>
                              <select matNativeControl formControlName="countryId">
                               <option selected></option>
                                <option *ngFor="let country of countries" [value]=country.id >{{country.name}}</option>
                              </select>
                            </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field class="full-width" floatLabel="always">
                              <mat-label>Type Of Project</mat-label>
                              <select matNativeControl formControlName="typeOfProjectId">
                                  <option selected></option>
                                <option *ngFor="let type of typeOfProjects" [value]="type.id">{{type.name}}</option>
                              </select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="flex-fill"></div>

                      <div>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                      <div class="flex-fill"></div>
                      <div class="flex-fill">
                          <div class="d-flex flex-row justify-content-around">
                            <button mat-stroked-button matStepperNext id="btnGenerateProjectCode">Generate</button>
                            <button mat-stroked-button matStepperCancel id="btnCancelGenerateProject" (click)='handleCancel()'>Cancel</button>
                          </div>
                      </div>
                      <div class="flex-fill"></div>
                  </div>
                <div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="projectDetailsFormGroup">
              <app-loader *ngIf="!projectDetailsFormGroup"></app-loader>
              <form *ngIf="projectDetailsFormGroup" [formGroup]="projectDetailsFormGroup" (ngSubmit)="handleUpdateProject()">
                <ng-template matStepLabel>Project Details</ng-template>
                <div>
                  <div class="d-flex flex-row flex-wrap justify-content-center">
                      <div class="flex-fill p-1">
                          <mat-form-field class="full-width">
                              <mat-label>Project Code</mat-label>
                              <input matInput  placeholder="Placeholder" formControlName="code">
                              <mat-icon matSuffix>settings</mat-icon>
                          </mat-form-field>
                      </div>
                      <div class="flex-fill p-1">
                          <mat-form-field class="full-width" >
                              <mat-label>Project Title</mat-label>
                              <input matInput placeholder="Title" formControlName="title">
                              <mat-icon matSuffix></mat-icon>
                              <mat-error *ngIf="projectDetailsFormGroup.controls['title'].invalid">
                                  <span *ngIf="projectDetailsFormGroup.controls['title'].errors.required">Title is required</span>
                              </mat-error>
                            </mat-form-field>
                      </div>
                  </div>
                  <div class="d-flex flex-row flex-wrap justify-content-center">
                      <div class="flex-fill p-1">
                          <mat-form-field class="full-width">
                              <mat-label>Project Type</mat-label>
                              <select matNativeControl formControlName="projectTypeId">
                                <option selected></option>
                                <option *ngFor="let type of projectTypes" [value]="type.id">{{type.name}}</option>
                              </select>
                              <mat-error *ngIf="projectDetailsFormGroup.controls['projectTypeId'].invalid">
                                  <span *ngIf="projectDetailsFormGroup.controls['projectTypeId'].errors.required">Project type is required</span>
                              </mat-error>
                          </mat-form-field>
                      </div>
                      <div class="flex-fill p-1">
                          <mat-form-field class="full-width">
                          <mat-label>Estimated Start Date</mat-label>
                          <input matInput [matDatepicker]="pickerExpectedStartDate" formControlName="expectedStartDate">
                          <mat-datepicker-toggle matSuffix [for]="pickerExpectedStartDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerExpectedStartDate></mat-datepicker>
                          </mat-form-field>
                      </div>
                  </div>
                  <div class="d-flex flex-row flex-wrap justify-content-center">
                    <div class="flex-fill p-1">
                        <mat-form-field class="full-width">
                            <mat-label>Excecuting Agency</mat-label>
                            <select matNativeControl formControlName="executingAgencyId">
                              <option selected></option>
                              <option *ngFor="let entity of entities" [value]="entity.id">{{entity.name}}</option>
                            </select>
                            <mat-error *ngIf="projectDetailsFormGroup.controls['executingAgencyId'].invalid">
                                <span *ngIf="projectDetailsFormGroup.controls['executingAgencyId'].errors.required">Excecuting Agency is required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex-fill p-1">
                        <mat-form-field class="full-width">
                            <mat-label>Implementing Agency</mat-label>
                            <select matNativeControl formControlName="implementingAgencyId">
                              <option selected></option>
                              <option *ngFor="let entity of entities" [value]="entity.id">{{entity.name}}</option>
                            </select>
                            <mat-error *ngIf="projectDetailsFormGroup.controls['implementingAgencyId'].invalid">
                                <span *ngIf="projectDetailsFormGroup.controls['implementingAgencyId'].errors.required">Implementing Agency is required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="d-flex flex-row flex-wrap justify-content-center">
                      <div class="flex-fill d-flex flex-row flex-wrap">
                        <div>
                            <mat-form-field class="full-width p-1" >
                                <mat-label>Estimated Duration</mat-label>
                                <input matInput placeholder="Estimated duration" formControlName="estimatedDuration">
                                <mat-icon matSuffix></mat-icon>
                                <mat-error *ngIf="projectDetailsFormGroup.controls['estimatedDuration'].invalid">
                                    <span *ngIf="projectDetailsFormGroup.controls['estimatedDuration'].errors.required">Estimated duration is required</span>
                                </mat-error>
                              </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width p-1">
                                <mat-label>Duration Unit</mat-label>
                                <select matNativeControl formControlName="durationUnit">
                                  <option selected></option>
                                  <option *ngFor="let unit of durationUnits" [value]="unit.id">{{unit.name}}</option>
                                </select>
                                <mat-error *ngIf="projectDetailsFormGroup.controls['durationUnit'].invalid">
                                    <span *ngIf="projectDetailsFormGroup.controls['durationUnit'].errors.required">Duration Unit is required</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                      </div>
                      <div class="flex-fill p-1">
                        &nbsp;
                      </div>
                  </div>
                  <div class="d-flex flex-row">
                      <div class="flex-fill p-1">
                          <mat-form-field class="full-width p-1" >
                              <mat-label>Outline</mat-label>
                              <textarea matInput placeholder="project outline" formControlName="outline"></textarea>
                              <mat-icon matSuffix></mat-icon>
                              <mat-error *ngIf="projectDetailsFormGroup.controls['outline'].invalid">
                                  <span *ngIf="projectDetailsFormGroup.controls['outline'].errors.required">Outline is required</span>
                              </mat-error>
                          </mat-form-field>
                      </div>
                  </div>
                  <div class="d-flex flex-row flex-wrap">
                      <div class="p-1 flex-fill">
                          <span class="mat-headline">Strategic Objectives</span>
                          <div class="f-flex flex-column">
                            <div class="p-1" formArrayName="strategicObjectives"
                            *ngFor="let so of getStrategicObjectives.controls; let i=index;">
                                <mat-slide-toggle
                                [formControl]="so"
                                color="accent">
                              {{model.project.strategicObjectives[i].name}}
                            </mat-slide-toggle>
                            </div>
                          </div>
                      </div>
                      <div class="p-1 flex-fill">
                        <span class="mat-headline">Areas</span>
                        <div class="f-flex flex-column">
                          <div class="p-1" formArrayName="areas" *ngFor="let area of getAreas.controls; let i=index">
                              <mat-slide-toggle
                              [formControl]="area"
                              color="accent">
                              {{model.project.areas[i].name}}
                          </mat-slide-toggle>
                          </div>
                        </div>
                      </div>
                  </div>
                  <hr>
                  <div class="d-flex flex-row">
                      <div class="m-2 mr-auto"> <button mat-stroked-button matStepperPrevious>Back</button></div>
                      <div class="m-2"> <button type="submit" color="primary" mat-stroked-button matStepperNext>Save</button></div>
                  </div>


                </div>
              </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>
