<footer class="footer pb-4">
    <div class="d-flex flex-row justify-content-lg-around justify-content-sm-center flex-wrap mt-5">
        <div>
            <img src="assets/images/maple_logo_grey.png" class="img-responsive greylogo">
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav d-flex flex-row flex-wrap justify-content-around">
                    <li><a class="nav-item nav-link ml-2" href="#">Terms & Conditions</a></li>
                    <li><a class="nav-item nav-link ml-2" href="#">Site Index</a></li>
                    <li><a class="nav-item nav-link ml-2" href="#">Links</a></li>
                    <li><a class="nav-item nav-link ml-2" href="#">FAQ</a></li>
                    <li><a class="nav-item nav-link ml-2" href="#">Web Support</a></li>
                    <li><a class="nav-item nav-link ml-2" href="#">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>