<footer class="style3">
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 column">
                    <div class="widget">
                        <div class="about_widget">
                            <div class="logo">
                                <a href="#" title=""><img src="assets/images/dg_logo.png" alt="" /></a>
                            </div>
                            <span>23 Chaparral Valley Common SE Calgary, AB T2X 0T4, Canada.</span>
                            <span>+1 587-225-9345</span>
                            <span>info@dgiini.ca</span>
                            <div class="social">
                                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                                <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                <a href="#" title=""><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                        <!-- About Widget -->
                    </div>
                </div>
                <div class="col-lg-4 column">
                    <div class="widget">
                        <h3 class="footer-title">Frequently Asked Questions</h3>
                        <div class="link_widgets">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="#" title="">Privacy & Security </a>
                                    <a href="#" title="">Terms of Services</a>
                                    <a href="#" title="">Communications </a>
                                    <a href="#" title="">Referral Terms </a>
                                    <a href="#" title="">Lending Licnses </a>
                                    <a href="#" title="">Disclaimers </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="#" title="">Support </a>
                                    <a href="#" title="">How It Works </a>
                                    <a href="#" title="">For Employers </a>
                                    <a href="#" title="">Underwriting </a>
                                    <a href="#" title="">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 column">
                    <div class="widget">
                        <h3 class="footer-title">Find Tasks</h3>
                        <div class="link_widgets">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="#" title="">US Jobs</a>
                                    <a href="#" title="">Canada Jobs</a>
                                    <a href="#" title="">UK Jobs</a>
                                    <a href="#" title="">Emplois en Fnce</a>
                                    <a href="#" title="">Jobs in Deuts</a>
                                    <a href="#" title="">Vacatures China</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 column">
                    <div class="widget">
                        <div class="download_widget">
                            <a href="#" title=""><img src="assets/Download_on_the_App_Store_Badge_US-UK_RGB_wht_092917.svg" alt="" /></a>
                            <a href="#" title=""><img src="assets/images/google-play-badge.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-line style3">
        <div class="container">
            <span>© 2018 dgiini All rights reserved. Design by dgiini inc.</span>
            <a class="back-top" href="#scrollup" title=""><i class="la la-long-arrow-up"></i></a>
            <span class="float-right">version: v{{version.semverString}}</span>
        </div>
    </div>
</footer>