<div class="card">
    <h5 class="card-header">
        <span class="float-right"> <a href="#">more..</a></span>
        <a data-toggle="collapse" class="text-muted" href="#card-work-plan" aria-expanded="true" aria-controls="card-work-plan">
            Work Plan
            <i class="fa fa-caret-square-o-down float-left mt-1 mr-2"></i>
        </a>
    </h5>
    <div id="card-work-plan" class="collapse show" aria-labelledby="heading-example">
        <div class="card-body work-plans">
          <app-loader></app-loader>
        </div>
    </div>
</div>
